@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

:root {
    --main-color: #160745;
    --secondary-color: #4260f9;
    --white-color: #d1d1d1;
    --yellow-color: rgb(181, 162, 58);
}

* {
    margin: 0;
    padding: 0;
}

/* NAVIGATION BAR STYLE */

nav a {
    text-decoration: none;
}

.menu {
    display: none;
}

nav {
    height: 70px;
    z-index: 100;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, var(--main-color));
    padding: 0 25px;
    box-shadow: 0 3px var(--secondary-color);
}

nav * {
    font-family: 'pixelify sans';
}

nav h1 {
    font-size: 2.5em;
    color: var(--white-color);
}

nav span {
    color: var(--yellow-color);
}

nav ul {
    display: flex;
    list-style: none;
    gap: 50px;
}

nav ul a {
    color: var(--white-color);
    font-size: 1.5em;
}

/* HERO SECTION STYLE */

.hero {
    height: calc(100vh - 70px);
    width: 100vw;
    background: url(images/bg.png) no-repeat;
    background-size: cover;
}

/* MOBILE RESPONSIVENESS */

@media (max-width: 900px) {
    nav ul {
        display: none;
    }

    nav h1 {
        font-size: 1.8em;
    }

    .menu {
        display: block;
    }
}