@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

:root {
    --main-color: #160745;
    --secondary-color: #4260f9;
    --white-color: #d1d1d1;
    --yellow-color: #b5a23a;
    --green-color: #003323;
}

* {
    margin: 0;
    padding: 0;
}

/* */

.custom-font {
    font-family: 'pixelify sans';
    font-size: 1.3em;

}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

/* NAVIGATION BAR STYLE */

nav a {
    text-decoration: none;
}

.menu {
    display: none;
}

nav {
    height: 70px;
    z-index: 100;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, var(--main-color));
    padding: 0 25px;
    box-shadow: 0 3px var(--secondary-color);
}

nav * {
    font-family: 'pixelify sans';
}

nav h1 {
    font-size: 2.5em;
    color: var(--white-color);
}

nav span {
    color: var(--yellow-color);
}

nav ul {
    display: flex;
    list-style: none;
    gap: 50px;
}

nav ul a {
    color: var(--white-color);
    font-size: 1.5em;
    transition: all 0.3s;
}

nav ul a:hover {
    color: var(--secondary-color)
}

/* HERO SECTION STYLE */

.hero {
    min-height: calc(100vh - 70px);
    width: 100vw;
    background: url(images/bg.png) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .box {
    margin: 45px;
    min-height: 50vh;
    max-width: 100%;
    background-color: #a4e7ff70;
    padding: 50px;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.hero .text {
    flex: 1.5;
}

.hero .text h1 {
    margin-block: 0 15px;
}

.hero img {
    object-fit: cover;
    flex: 2;
    max-width: 100%;

}

.hero button {
    margin-top: 50px;
    padding: 15px;
    border: 5px solid var(--main-color);
    background-color: #d1d1d190;
    font-weight: bold;
    font-size: 1.5em; 
    transition: all 0.2s ease-out;
    cursor: pointer;
}

.hero button:hover {
    transform: translateY(-10px);
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.hero .box h1 {
    font-size: 3em;
}

/* INFO SECTION */

.info {
    min-height: 35vh;
    background-color: var(--green-color);
    display: flex;
    flex-direction: column;
    padding: 25px;
    justify-content: center;
    align-items: center;
    gap:30px;

}

.info > h1 {
    font-family: 'pixelify sans';
    font-size: 3em;
    color: var(--white-color);
    text-shadow: 0 5px black;
}

.info .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}

.info-box {
    max-width: 400px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-box img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border: 10px solid var(--main-color);
    transition: all 0.5s;
    cursor: pointer;
}

.info-box img:hover {
    border-color: var(--secondary-color);
}

.info-box h1 {
    font-size: 2.5em;
    color: var(--yellow-color);
    text-shadow: 0 5px black;
}

/* MOBILE RESPONSIVENESS */

@media (max-width: 1200px) {
    nav ul {
        display: none;
    }

    nav h1 {
        font-size: 1.8em;
    }

    .menu {
        display: block;
    }


    .hero .box {
        width: 70%;
    }

    .info-box img {
        width: 300px;
    }
    
}

